<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SempreInteractiveTestSuite" verbose="10">
  <test name="InteractiveTests">
    <classes>
      <class name="semexe.interactive.test.GrammarInducerTest">
      </class>
			<class name="semexe.interactive.test.DALExecutorTest">
      </class>
			<!--
			<class name="FloatingParsingTest">
			</class>
			-->
    </classes>
  </test>
</suite>
